fastapi
uvicorn
pydantic
slowapi
pinecone
langgraph
langchain
langchain-core
langchain-openai
langchain-text-splitters
google-genai
PyPDF2
fpdf
requests
python-dotenv
openai
rank_bm25
python-multipart
